body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul { margin:0; padding:0; } 
button,input { border-radius:0;} 
fieldset,img { border:0; } 
ol,ul { list-style:none; } 
address,em { font-style:normal; } 
a { text-decoration:none; font-weight: bold; } 
a:hover { text-decoration:none; } 
iframe { overflow:hidden; margin:0; padding:0; border:0; } 
