@import "reset.css"; 

@font-face { 
 font-family: 'Pretendard-Regular'; 
 src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); 
 } 
html { scroll-behavior: smooth; } 
body { overflow-y: hidden; height: 100%; } 

.container { width: calc(100vw * 9 + 6000px); height: calc(100vh - 10px); } 
section.item { width: 100vw; /*min-width: 1024px; */ height: calc(100vh - 10px); float: left; display: flex; justify-content: space-between; } 
.longSection { width: 3000px; } 

section:nth-child(1) { background: #dddddd; } 
section:nth-child(2) { background: #fff; } 
section:nth-child(3) { background: #dddddd; } 
section:nth-child(4) { background: #fff; } 
section:nth-child(5) { background: #dddddd; } 
section:nth-child(6) { background: #fff; } 
section:nth-child(7) { background: #dddddd; } 
section:nth-child(8) { background: #fff; } 
section:nth-child(9) { background: #dddddd; } 
section:nth-child(10) { background: #fff; } 
section:nth-child(11) { background: #dddddd; } 

.h1Wrap { 
 border: 2px solid red; 
 display: flex; 
 justify-content: space-between; 
 align-items: flex-start; 
 flex-direction: column; 
 flex-basis: 70%; 
 } 
.textBoxWrap { 
 border: 2px solid yellow; 
 flex-basis: 30%; 
 display: flex; 
 align-content: flex-start; 
 align-items: flex-start; 
 flex-wrap: wrap; 
 font-size: 1.2em; 
 line-height: 1.5em; 
 } 
.textBox { 
 border: 2px solid green; 
 margin: 50px 50px 0 50px; 
 display: flex; 
 } 

h1 { 
 border: 2px solid green; 
 margin: 50px; 
 display: flex; 
 font-size: 12em; 
 line-height: 0.99em; 
 } 
h1.num { 
 flex-direction: column; 
 } 
h1.h1Title { 
 flex-direction: column-reverse; 
 } 

/* 스크롤바 커스텀 */
::-webkit-scrollbar { 
 height: 10px; 
 } 
::-webkit-scrollbar-track { 
 background-color: #e4e4e4; 
 border-radius: 100px; 
 } 
::-webkit-scrollbar-thumb { 
 background-color: #373737; 
 border-radius: 100px; 
 } 

 @media (max-width: 700px) { 
 .small-tomato { 
 background-color: tomato; 
 } 
 } 